.layout-1 {
  height: 100vh;
}
.layout-1-container {
  max-width: 1200px;
  margin: 2em auto;
}
h1 {
  margin-bottom: 3em;
}
.layout-1-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.layout-1-quote {
  font-weight: 900;
  font-size: 40px;
  font-family: inherit;
  position: relative;
}
.layout-1-quote::before {
  content: "";
  width: 5%;
  height: 10px;
  background: currentColor;
  position: absolute;
  top: 27px;
  left: -1.5em;
}
.quote-1 {
  grid-column: 2 / -1;
}
.quote-2 {
  margin: 5em 0;
  grid-column: 6 / -1;
}
.quote-3 {
  grid-column: 1 / 10;
}
button {
  align-self: flex-start;
  background: none;
  border: none;
  margin-top: 3em;
}
button a {
  text-decoration: none;
  color: #333;
  font-weight: 700;
  font-family: inherit;
  font-size: 16px;
}
button a:hover {
  text-decoration: none;
  color: #777;
}
